.contact_main{
    margin-left: 6rem;
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    height: auto;
    /* width:45rem; */
    /* padding:0.5rem; */
}


.contact_left,.contact_right {
    /* border: 2px solid red; */
    margin-right: 3rem;
    width: 32rem;
    height: auto 50rem;
    padding: 2rem;
     box-shadow:10px 10px 19px #1c1e22,
     -10px -10px 19px #262a2e;
     
     background: #212428;
     border-radius: 10px;
     transition: all 0.4s;
}

.contact_left h2{ 
font-size: 2rem;
color: #ff014f;
text-transform: capitalize;
margin-top: 1rem;
}

.contact_left p{
color: #c4cfde;
font-size: 0.9rem;
font-family: 'Montserrat',
sans-serif;
text-transform: capitalize;
margin-top: 1rem;
}

.contact_left div{
    color: #c4cfde;
    font-size: 1.1rem;
    font-family: 'Montserrat',
    sans-serif;
    text-transform: capitalize;
    margin-top: 1rem;
}

.contact_left span{
text-transform: lowercase;
color: #ff014f;
}




.contact_right{
    width:45rem;
    /* display: flex; */
}
.contact_right input{
  width: 20rem;
  border: 2px solid black;
  background: #191b1e;
  box-shadow: -1px -4px -2px -3px rgba(0, 0, 0, 0.7) , 1px 3px 3px 2px rgba(255, 255, 255, 0.2) ;
  border-radius: 6px;
  height: 3rem;
  padding:1rem;
  color:whitesmoke;
  outline-color: #ff014f;
}
.contact_right div{
    text-transform: capitalize;
      color: #c4cfde;
      font-size: 1.1rem;
      margin:10px 0px;
}

.contact_button{
   /* display: flex; */
   width:40rem;
   justify-content: center;
   /* align-items: center; */
   margin-top: 1rem;
   margin-left: 0.4rem;
   color: #ff014f;
   box-shadow: 10px 10px 19px #1c1e22,
   -10px -10px 19px #262a2e;
   /* background: linear-gradient(145deg, #1e2024, #23272b); */
   border: 2px solid rgb(17, 16, 16);
   background: #191b1e;
   padding:15px 20px;
   border-radius: 6px;
   font-size: 0.9rem;
    text-transform: uppercase;
}


figure {
    width: 28rem;
    height: 17rem;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
border-radius:10px;

}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}
.contact_img{
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
border-radius:10px;
}
.contact_left:hover img{
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
}